<!DOCTYPE html>
<html lang="en">
  <%- include('reusables/head') %>
  <body>
    <header class="admin-header">
      <h2>Admin Panel</h2>
    </header>
    <div id="admin">
      <!-- view  all categories  -->
      <div class="categories">
        <h3>Categories</h3>
        <button id="add-catergory">add new category</button>
        <form
          action="/create-category"
          method="post"
          id="create-category"
          class="hide"
        >
          <input type="text" name="categoryName" placeholder="category name" />
          <input type="submit" id="submit" value="create" />
        </form>
        <div class="content">
          <ul>
            <% for (var i =0; i < categories.length; i++ ) { %>
            <li>
              <p><%= categories[i].title %></p>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
      <!-- view  all courses under a category  -->
      <div class="courses">
        <h3>Courses</h3>
        <button id="add-course">Add new course</button>
        <form
          action="/create-course"
          method="post"
          id="create-course"
          class="hide"
        >
          <input type="text" name="title" placeholder="Title" />
          <select name="category" id="create">
            <% for (var i =0; i < categories.length; i++ ) { %>
            <option value="<%= categories[i].title %>">
              <%= categories[i].title %>
            </option>
            <% } %>
          </select>
          <textarea
            name="introduction"
            id=""
            cols="30"
            rows="10"
            placeholder="Introduction"
          ></textarea>
          <textarea
            name="description"
            id=""
            cols="30"
            rows="10"
            placeholder="Description"
          ></textarea>
          <textarea
            name="attendees"
            id=""
            cols="30"
            rows="10"
            placeholder="Attendees"
          ></textarea>
          <input type="submit" value="Create" id="submit" />
        </form>
        <div class="content show">
          <ul>
            <% for (var i =0; i < courses.length; i++ ) { %>
            <li>
              <p><%= courses[i].title %></p>
              <p>
                <a href="/courses/edit/<%= courses[i].id %>">edit</a>
                <a href="/courses/delete/<%= courses[i].id %>">delete</a>
              </p>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <script src="/js/admin.js"></script>
  </body>
</html>

<!-- crud a category  -->
<!-- crud a course under a category  -->
