<!DOCTYPE html>
<html lang="en">
  <%- include('reusables/head') %>
  <body>
    <%- include('reusables/nav') %>

    <div
      class="container"
      style="max-width: 1200px; margin: auto; padding: 3vh"
    >
      <h1><%= course[0].title%></h1>
      <h4>Brief Introduction</h4>
      <p><%= course[0].introduction%></p>
      <h4>Who Should Attend?</h4>
      <p><%= course[0].attendees%></p>
      <a href="/egister/<%= course[0].id%>">Register for this course</a>
    </div>
    <%- include('reusables/footer') %>
  </body>
</html>
