<!DOCTYPE html>
<html lang="en">
  <%- include('reusables/head') %>
  <body id="faqs">
    <%- include('reusables/nav') %>
    <h1>
      What else you need to know about our Training, here is list of FAQs:
      General Questions
    </h1>
    <div class="container">
      <% for(var i=0; i < faqs.length; i++){ %>
      <div class="toggle">
        <div class="header"><%= faqs[i].question %></div>

        <div class="body">
          <p><%= faqs[i].answer %></p>
        </div>
      </div>

      <% } %>
    </div>

    <%- include('reusables/footer') %>
    <script>
      let toggles = Array.from(document.querySelectorAll(".toggle"));
      toggles.forEach((toggle) => {
        toggle.addEventListener("click", (e) => {
          alert("toggled");
        });
      });
    </script>
  </body>
</html>
