<!DOCTYPE html>
<html lang="en">
  <%- include('reusables/head') %>
  <body>
    <%- include('reusables/nav') %>
    <%- include('landingpage/main') %>
    <%- include('landingpage/why-choose-peakware') %>
    <%- include('landingpage/courses') %>
    <%- include('landingpage/cta') %>
    <%- include('landingpage/testimonials') %>
    <%- include('landingpage/clients') %>
    <%- include('reusables/footer') %>
    <%- include('reusables/script') %>
   
  </body>
</html>
